/************ Element Selectors **********/

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/************ Class Selectors ************/

/* Containers */
.container-fluid {
  padding: 3% 15% 5%;
}

/* Sections */
.white-section {
  background-color: white;
  color: #52575d;
}

.colored-section {
  background-color:#ff4c68;
  color: white;
}

/***** Title Section *****/
.title-heading {
  font-weight: 900;
  font-size: 3.0rem;
  line-height: 1.5;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 2.5rem;
  background-color:#ff4c68;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Dog iPhone Image */
.dog_phone_image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 27%;
}

/***** Features Section *****/
.feature-box {
  padding: 5%;
}

.features-titles {
  font-weight: bold;
  font-size: 1.5rem;
}

.feature-icons {
  font-size: 350%;
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #ff4c68;
}

/***** Testimonials Section *****/
.testimonial-text {
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 20%;
  border-radius: 50%;
  margin: 20px;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.carousel-subheading {
  padding-top: 3%;
  font-size: 1.5rem;
}

/***** Pricing *****/

.price-heading {
  font-weight: 700;
  font-size: 3.0rem;
}

.price-subheading {
  font-size: 2.0rem;
  padding: 0 10%;
}

.plan-name {
  font-weight: 600;
}

.price {
  font-weight: 700;
}

.pricing-col {
  padding: 3% 2%;
}

/***** Call to Action Section *****/
.cta-btn {
  margin: 20px;
}

.cta-text {
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  padding-bottom: 20px;
}

/***** Footer Section *****/
.footer-icon {
  font-size: 1.5rem;
  margin: 15px;
  padding-bottom: 10px;
}

.footer-icon:hover {
  color: #ff4c68;
}

/************ ID Selectors **************/

#title {
  text-align: left;
}

#features {
  padding: 7% 15%;

  /* "Relative" allows us to keep the element in the HTML flow but still enforce
  a z-index position. Using absolute here would remove the element from the
  HTML flow*/
  position: relative;
}

#press {
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

#cta {
  padding: 7% 19%;
}

#footer {
  padding: 5% 3%;
}

/********* Media Query Breakpoints *********/

/* Which elements should be styled differently when
the viewport is less than 1028px? */

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .nav-item {
    text-align: left;
    margin: 0 0;
  }

  .dog_phone_image {
    width: 60%;
    position: static;
    transform: rotate(0deg);
  }

  .testimonial-text {
    font-size: 2.5rem;
  }

  .testimonial-image {
    width: 30%;
    margin: 20px;
  }

  .features-titles {
    font-size: 3.0rem;
  }

  .features-subtitles {
    font-size: 2.0rem;
  }

  .feature-icons {
    font-size: 450%;
  }

  .footer-icon {
    margin: 15px 30px;
    font-size: 250%;
  }

  .footer-text {
    font-size: 1.5rem;
  }

}
